// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for common parts of Salvator-X board variants
 *
 * Copyright (C) 2015-2017 Renesas Electronics Corp.
 */

/*
 * SSI-AK4613
 *
 * This command is required when Playback/Capture
 *
 *	amixer set "DVC Out" 100%
 *	amixer set "DVC In" 100%
 *
 * You can use Mute
 *
 *	amixer set "DVC Out Mute" on
 *	amixer set "DVC In Mute" on
 *
 * You can use Volume Ramp
 *
 *	amixer set "DVC Out Ramp Up Rate"   "0.125 dB/64 steps"
 *	amixer set "DVC Out Ramp Down Rate" "0.125 dB/512 steps"
 *	amixer set "DVC Out Ramp" on
 *	aplay xxx.wav &
 *	amixer set "DVC Out"  80%  // Volume Down
 *	amixer set "DVC Out" 100%  // Volume Up
 */

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "VaxCore VCP2106A AVM board based on r8a77961";
	compatible = "vaxcore,vcp2106a", "renesas,r8a77961";

	chosen {
		bootargs = "ignore_loglevel rw root=/dev/nfs ip=dhcp";
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x78000000>;
	};

	memory@600000000 {
		device_type = "memory";
		reg = <0x6 0x00000000 0x0 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* device specific region for Lossy Decompression */
		lossy_decompress: linux,lossy_decompress@54000000 {
			no-map;
			reg = <0x00000000 0x54000000 0x0 0x03000000>;
		};

		/* reserved region for CR7 FreeRTOS */
		rtos_reserved: linux,rtos@57000000{
			reg = <0x00000000 0x57000000 0x0 0x04000000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma@5b000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x5B000000 0x0 0x15000000>;
			linux,cma-default;
		};

		/* device specific region for contiguous allocations */
		mmp_reserved: linux,multimedia@70000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x70000000 0x0 0x10000000>;
		};

		/* reserved region for CR7 FreeRTOS framerbuffer */
		/*
		rtos_fb_reserved: linux,rtos@7d000000{
			reg = <0x00000000 0x7C000000 0x0 0x04000000>;
		};
		*/
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_12v: regulator2 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vbus0_usb2: regulator-vbus0-usb2 {
		compatible = "regulator-fixed";

		regulator-name = "USB20_VBUS0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;

		gpio = <&gpio6 16 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc_sdhi0: regulator-vcc-sdhi0 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI0 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 1
			  1800000 0>;
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&mmp_reserved>, <&lossy_decompress>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};

	x12_clk: x12 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24576000>;
	};

	/* External DU dot clocks */
	x21_clk: x21-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <33000000>;
	};

	x22_clk: x22-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <33000000>;
	};

	x23_clk: x23-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	audio_clkout: audio-clkout {
		/*
		 * This is same as <&rcar_sound 0>
		 * but needed to avoid cs2000/rcar_sound probe dead-lock
		 */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12288000>;
	};
};

&pfc {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	du_pins: du {
		groups = "du_rgb888", "du_sync", "du_oddf", "du_clk_out_0";
		function = "du";
	};

	hscif0_pins: hscif0 {
		groups = "hscif0_data";
		function = "hscif0";
	};

	hscif1_pins: hscif1 {
		groups = "hscif1_data_a";
		function = "hscif1";
	};

	hscif3_pins: hscif3 {
		groups = "hscif3_data_a";
		function = "hscif3";
	};

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c2_pins: i2c2 {
		groups = "i2c2_a";
		function = "i2c2";
	};

	i2c3_pins: i2c3 {
		groups = "i2c3";
		function = "i2c3";
	};

	i2c5_pins: i2c5 {
		groups = "i2c5";
		function = "i2c5";
	};

	i2c6_pins: i2c6 {
		groups = "i2c6_b";
		function = "i2c6";
	};

	irq0_pins: irq0 {
		groups = "intc_ex_irq0";
		function = "intc_ex";
	};

	pwm1_pins: pwm1 {
		groups = "pwm1_a";
		function = "pwm1";
	};

	pwm2_pins: pwm2 {
		groups = "pwm2_a";
		function = "pwm2";
	};

	scif1_pins: scif1 {
		groups = "scif1_data_b";
		function = "scif1";
	};

	scif2_pins: scif2 {
		groups = "scif2_data_a";
		function = "scif2";
	};

	scif3_pins: scif3 {
		groups = "scif3_data_a";
		function = "scif3";
	};

	scif_clk_pins: scif_clk {
		groups = "scif_clk_a";
		function = "scif_clk";
	};

	sdhi0_pins: sd0 {
		groups = "sdhi0_data4", "sdhi0_ctrl";
		function = "sdhi0";
		power-source = <3300>;
	};

	sdhi0_pins_uhs: sd0_uhs {
		groups = "sdhi0_data4", "sdhi0_ctrl";
		function = "sdhi0";
		power-source = <1800>;
	};

	sdhi2_pins: sd2 {
		groups = "sdhi2_data8", "sdhi2_ctrl", "sdhi2_ds";
		function = "sdhi2";
		power-source = <3300>;
	};

	sdhi2_pins_uhs: sd2_uhs {
		groups = "sdhi2_data8", "sdhi2_ctrl", "sdhi2_ds";
		function = "sdhi2";
		power-source = <1800>;
	};

	sdhi3_pins: sd3 {
		groups = "sdhi3_data4", "sdhi3_ctrl", "sdhi3_ds";
		function = "sdhi3";
		power-source = <3300>;
	};

	sdhi3_pins_uhs: sd3_uhs {
		groups = "sdhi3_data4", "sdhi3_ctrl", "sdhi3_ds";
		function = "sdhi3";
		power-source = <1800>;
	};

	can0_pins: can0 {
		groups = "can0_data_a";
		function = "can0";
	};

	can1_pins: can1 {
		groups = "can1_data";
		function = "can1";
	};

	sound_pins: sound {
		groups = "ssi01239_ctrl", "ssi0_data", "ssi1_data_a";
		function = "ssi";
	};

	sound_clk_pins: sound_clk {
		groups = "audio_clk_a_a", "audio_clk_b_a", "audio_clk_c_a", "audio_clkout_a", "audio_clkout3_a";
		function = "audio_clk";
	};

	usb0_pins: usb0 {
		groups = "usb0";
		function = "usb0";
	};

	usb1_pins: usb1 {
		mux {
			groups = "usb1";
			function = "usb1";
		};

		ovc {
			pins = "GP_6_27";
			bias-pull-up;
		};

		pwen {
			pins = "GP_6_26";
			bias-pull-down;
		};
	};

	usb30_pins: usb30 {
		groups = "usb30";
		function = "usb30";
	};
};

&a57_0 {
	cpu-supply = <&dvfs>;
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&scif_clk {
	clock-frequency = <14745600>;
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	/* Please use exclusively to the scif1 node */
	status = "disabled";
};

&hscif1 {
	pinctrl-0 = <&hscif1_pins>;
	pinctrl-names = "default";

	/* Please use exclusively to the scif1 node */
	status = "disabled";
};

&scif1 {
	pinctrl-0 = <&scif1_pins>;
	pinctrl-names = "default";

	/*uart-has-rtscts;*/
	/* Please use exclusively to the hscif1 node */
	status = "disabled";
};

&scif2 {
	pinctrl-0 = <&scif2_pins>;
	pinctrl-names = "default";

	status = "disabled";
};

&scif3 {
	pinctrl-0 = <&scif3_pins>;
	pinctrl-names = "default";

	status = "disabled";
};

&rwdt {
	timeout-sec = <60>;
	status = "disabled";
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-1 = <&sdhi0_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&vcc_sdhi0>;
	vqmmc-supply = <&vccq_sdhi0>;
	cd-gpios = <&gpio3 12 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio3 13 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "disabled";
};

&sdhi2 {
	/* used for on-board 8bit eMMC */
	pinctrl-0 = <&sdhi2_pins>;
	pinctrl-1 = <&sdhi2_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	fixed-emmc-driver-type = <1>;
	status = "disabled";
};


&sdhi3 {
	pinctrl-0 = <&sdhi3_pins>;
	pinctrl-1 = <&sdhi3_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	cd-gpios = <&gpio4 15 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio4 16 GPIO_ACTIVE_HIGH>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "disabled";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "disabled";
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "disabled";

	cs2000: cs2000@4f {
		#clock-cells = <0>;
		compatible = "cirrus,cs2000-cp";
		reg = <0x4f>;
		clocks = <&audio_clkout>, <&x12_clk>;
		clock-names = "clk_in", "ref_clk";

		assigned-clocks = <&cs2000>;
		assigned-clock-rates = <24576000>; /* 1/1 divide */
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "disabled";
};

&i2c4 {
	clock-frequency = <400000>;
	status = "disabled";

	9FGV0841AKILF@68 {
		compatible = "idt,9FGV0841AKILF",
					 "renesas,9FGV0841AKILF";
		reg = <0x68>;
	};

	versaclock5: clock-generator@6a {
		compatible = "idt,5p49v5925";
		reg = <0x6a>;
		#clock-cells = <1>;
		clocks = <&x23_clk>;
		clock-names = "xin";
	};
};

&i2c5 {
	pinctrl-0 = <&i2c5_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "disabled";
};

&i2c6 {
	pinctrl-0 = <&i2c6_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "disabled";
};

&i2c_dvfs {
	clock-frequency = <400000>;
	status = "okay";

	pmic0: da9063@58 {
		compatible = "dlg,da9063";
		reg = <0x58>;

		dlg-int-gpio = <&gpio2 0 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&gpio2>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;

		dlg,r-car-timer-enable;
//		dlg,backup-hold-timer-hours = <1>;
		dlg,backup-hold-timer-multiplier = <1>;

		onkey {
			compatible = "dlg,da9063-onkey";
		};

		gpikey {
			compatible = "dlg,da9063-gpi8key";
		};

		da9063_rtc:rtc {
			compatible = "dlg,da9063-rtc";
		};

		wdt {
			compatible = "dlg,da9063-watchdog";
		};

		regulators {
			ddr0_1_1v: bcore1 {
				regulator-name = "BCORE1";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1570000>;
				regulator-boot-on;
			};
			ddr1_1_1v: bcore2 {
				regulator-name = "BCORE2";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1570000>;
				regulator-boot-on;
			};
			d1_8v: bpro {
				regulator-name = "BPRO";
				regulator-min-microvolt = <530000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
			};
			d3_3v: bmem-bio-merged {
				regulator-name = "BMEM_BIO_MERGED";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3440000>;
				regulator-boot-on;
			};
			ddr0_1_8v: bperi {
				regulator-name = "BPERI";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3440000>;
				regulator-boot-on;
			};
			vddio_1v8: ldo2 {
				regulator-name = "LDO_2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1860000>;
				regulator-boot-on;
			};
			ddr1_1_8v: ldo3 {
				regulator-name = "LDO_3";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3440000>;
				regulator-boot-on;
			};
			vddio_3_3v: ldo5 {
				regulator-name = "LDO_5";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
				regulator-boot-on;
			};
			vldo_sd0_a: ldo8 {
				regulator-name = "LDO_8";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
				regulator-boot-on;
			};
			vldo_sd0_b: ldo9 {
				regulator-name = "LDO_9";
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <3600000>;
				regulator-boot-on;
			};
			vldo_sd3: ldo10 {
				regulator-name = "LDO_10";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
				regulator-boot-on;
			};
			vldo_2_5v: ldo11 {
				regulator-name = "LDO_11";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
				regulator-boot-on;
			};
		};
	};

	pmic1: DA9224@68 {
		compatible = "dlg,da9224";
		reg = <0x68>;

		regulators {
			dvfs: BUCKA {
				regulator-name = "VBUCKA";
				regulator-min-microvolt = < 750000>;
				regulator-max-microvolt = <1020000>;
				regulator-min-microamp  = <4000000>;
				regulator-max-microamp  = <7000000>;
				regulator-ramp-delay = <10000>;
				regulator-boot-on;
				regulator-always-on;
			};

			BUCKB {
				regulator-name = "VBUCKB";
				regulator-min-microvolt = < 750000>;
				regulator-max-microvolt = < 880000>;
				regulator-min-microamp  = <4000000>;
				regulator-max-microamp  = <7000000>;
				regulator-ramp-delay = <10000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&ehci0 {
	dr_mode = "otg";
	status = "disabled";
};

&ehci1 {
	status = "disabled";
};

&ohci0 {
	dr_mode = "otg";
	status = "disabled";
};

&ohci1 {
	status = "disabled";
};


&hsusb {
	dr_mode = "otg";
	status = "disabled";
};

&usb_extal_clk {
	clock-frequency = <100000000>;
};

&usb2_phy0 {
	pinctrl-0 = <&usb0_pins>;
	pinctrl-names = "default";

	vbus-supply = <&vbus0_usb2>;
	status = "disabled";
};

&usb2_phy1 {
	pinctrl-0 = <&usb1_pins>;
	pinctrl-names = "default";

	status = "disabled";
};

&usb3_peri0 {
	phys = <&usb3_phy0>;
	phy-names = "usb";

	status = "disabled";
};

&usb3_phy0 {
	status = "disabled";
};

&usb3s0_clk {
	clock-frequency = <100000000>;
};

&xhci0 {
	pinctrl-0 = <&usb30_pins>;
	pinctrl-names = "default";

	status = "disabled";
};

&du {
	clocks = <&cpg CPG_MOD 724>,
		 <&cpg CPG_MOD 723>,
		 <&cpg CPG_MOD 722>,
		 <&versaclock5 1>,
		 <&x21_clk>,
		 <&versaclock5 2>;
	clock-names = "du.0", "du.1", "du.2",
		      "dclkin.0", "dclkin.1", "dclkin.2";

	pinctrl-0 = <&du_pins>;
	pinctrl-names = "default";
	status = "disabled";
};

&audio_clk_a {
	clock-frequency = <22579200>;
};

&audio_clk_b {
	clock-frequency = <24576000>;
};

&pcie_bus_clk {
	clock-frequency = <100000000>;
};

&pciec0 {
	status = "disabled";
};


&pciec1 {
	status = "disabled";
};

&pwm1 {
	pinctrl-0 = <&pwm1_pins>;
	pinctrl-names = "default";

	status = "disabled";
};

&pwm2 {
	pinctrl-0 = <&pwm2_pins>;
	pinctrl-names = "default";

	status = "disabled";
};

&can0 {
	pinctrl-0 = <&can0_pins>;
	pinctrl-names = "default";
	status = "disabled";
};

&can1 {
	pinctrl-0 = <&can1_pins>;
	pinctrl-names = "default";
	status = "disabled";
};

